body {
    background-image: url('../Pic/cleaning-equipment-products-household-chemicals-85673752 (2).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hearder {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

#lbBrightness {
    font-size: small;
}

#LBnewItem {
    margin-left: 35%;
}

.mydiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Rockwell;
    font-size: xx-large;
    font-weight: bolder;
    color: midnightblue;
}

#menu-toggle:checked + ul {
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 10%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-left: 10px;
    margin-top: 25px;
}

.navbar {
    margin-left: 10px;
    position: relative;
}

    .navbar input[type="checkbox"] {
        display: none;
    }

li {
    margin-top: 10px;
}

#GridView1,#GridView2,#GridView3 {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

    #GridView1 td, #GridView2, #GridView3 {
        background-color: royalblue;
    }

        #GridView1 th,
        #GridView1 td, #GridView2 th,
        #GridView2 td, #GridView3 th,
        #GridView3 td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

#GridView1 th, #GridView2 th, #GridView3 th {
    background-color: darkblue;
}

.gridview-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
.btnRefresh {
    margin-left: 80%;
}

.titles {
    margin-left: 40%;
    margin-top: 20px;
}


